.jw-speaker {
    width: 374px;
    max-width: 100%;
    min-height: 180px;
    box-shadow: 2px 2px 4px 0 rgba(163, 163, 163, 0.5),
        0 0 4px 0 rgba(197, 197, 197, 0.5);
    background: #fff;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;

    &__picture {
        object-fit: cover;
        width: 160px;
        height: 160px;
    }
    &-info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    &__name {
        display: inline-block;
        margin-bottom: 0;
        font-size: 24px;
        line-height: 1.1;
    }
    &__bio {
        font-size: 14px;
        line-height: 1.1;
    }
}
