<div class="section-top-component">
    <div class="main-bar"></div>
    <div class="main-top">
        <div class="main-top-container">
            
            <div class="main-details">
                <div class="main-details-date-container">
                    <h3 class="main-details-date">
                        <span appLocalize class="date-month">November</span>
                        <span
                            appLocalize
                            [appLocalizeIf]="'en'"
                            class="date-range"
                        >
                            <b appLocalize class="date-range-number">16</b
                            ></span
                        >
                    </h3>
                </div>
                <div class="main-details-bottom">
                    <div class="main-details-register">
                        <div class="main-details-register-button">
                            <a
                                class="jw-btn"
                                href="https://www.meetup.com/GDG-Medellin/events/262641229/"
                                target="_blank"
                                appLocalize
                                >Registro</a
                            >
                        </div>
                    </div>

                    <div class="main-details-conduct">
                        <a
                            class="conduct-link"
                            href="https://developers.google.com/community/gdg/organizers/resources/#code-of-conduct"
                            target="_blank"
                            appLocalize
                            >Código de conducta</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
