@import '../../../scss/imports';

.contador-component {
    position: absolute;
    left: 0;
    width: 100%;

    .box {
        @include box-shadow(0, 4px, 3px, rgba(0,0,0,.4));
        background-color: #fff;
        padding: 1.5em 2em;
        width: 95%;
        max-width: 400px;
        margin: auto;

        strong {
            font: {
                size: 1.2em;
                weight: 500;
            }
            letter-spacing: .1em;
            display: block;
            text: {
                align: center;
                transform: uppercase;
            }
            margin-bottom: 1em;
        }

        .valores {
            @extend %flex-center-center;
            @include align-items();
            @include justify-content(space-around);
        }
    }
}

@media screen and (max-width: 400px) {
    .contador-component {
        .box {
            padding: .5em 1em;
        }
    }
}

@media screen and ( min-height: 625px ) {
    .contador-component {
        bottom: -95px;
    }
}
