@import '../../../scss/imports';

.jw-footer {
    height: 305px;
    background-size: cover;
    background-image: linear-gradient(rgba(63, 66, 90, 0.75), rgba(63, 66, 90, 0.75)), url(/assets/img/back-top.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 730px) {
        height: 212px;
    }
    &__text {
        margin: 0;
        margin-bottom: 50px;
        color: #fff;
        font-size: 60px;
        font-weight: 900;
        @media screen and (max-width: 730px) {
            margin-bottom: 20px;
            font-size: 36px;
        }
    }
}
