@import '../../../../scss/imports';

.valores-component {
    strong, span {
        display: block;
        text: {
            transform: uppercase;
            align: center;
        }
    }

    strong {
        font: {
            size: 2em;
            weight: 500;
        }
    }

    span {
        font: {
            size: .8em;
            weight: 300;
        }
        color: #666;
    }
}
