@import 'css3-mixins';
@import 'cssMixins';
//@import "../../node_modules/materialize-css/dist/css/materialize.css";

$verde: #0F9D58;
$sushi: #4285F4;
$yellow: #F4B400;
$gun-powder: #3f425a;
$wild-sand: #f5f5f5;
$silver: #b8b8b8;

//---------
$turtle-green: #4285F4;
$atlantis: #4285F4;
$super-light-grey: #f5f5f5;
$gun-powder: #474b65;

