<div class="home-component">
    <app-section-topo></app-section-topo>
    <!--
        <call-for-proposals></call-for-proposals>
    -->

    <app-section-guests></app-section-guests>
    <app-speakers></app-speakers>
    <app-schedule></app-schedule>

    <app-section-mapa></app-section-mapa>

    <app-section-apoio></app-section-apoio>

    <app-section-matriz></app-section-matriz>

    <p class="poweredby">
        Fork us:
        <a
            class="c-sushi"
            href="https://github.com/carlosrojaso/angular-week"
            target="_blank"
            >WebApp</a
        >
    </p>
</div>
